<article class="news">
  <div class="news__inner">
    <img class="news__thumbnail" src="{{ imageSrc }}" alt="{{ title }}">
    <div class="news__text">
      <h2 class="news__title">{{ title }}</h2>
      <p class="news__description">{{ abstract }}</p>
      <a href="{{ url }}" class="news__link" target="_blank" rel="noopener">Read more</a>
    </div>
  </div>
</article>